<h1>Carritos</h1>

{{#if carritos  }} 
<table class="table">
    
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">TimeStamp</th>
            <th scope="col">Productos</th>
                    

            
          </tr>
        </thead>
        <tbody id="tbody">
           
            {{#each carritos}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{timestamp}}</td>
                    <td> <a href="/api/carrito/{{id}}/productos">Ver productos</a> </td>
                   
                    
                </tr>
            {{/each}}
        </tbody>
        
    </table>

    
{{else}}
    <h2>No hay carritos creados</h2>

{{/if}}

    <a href="../../" class="btn btn-primary mx-auto w-25">Ingresar Producto</a>
     <form action="/api/carrito" method="POST">
        <button type="submit" class="btn btn-primary mx-auto w-25">Crear Carrito</button>
    </form>
    