



 <div >   
        <center>
            <h2 >Error {{error.tipo}}</h2>
            <p>ruta {{error.ruta}} metodo {{error.metodo}} no autorizada</p>
        </center>
        
   
        <div class="row mt-5" >
                <a href="./productos" class="btn btn-primary mx-auto w-25" to="/productos">Productos</a>
        </div>

    </div>
    